<h1>This is the lobby.</h1>
<form action='/games' method='post'>
  <ul class="games_to_play">
    <% @games.each do |game| %>
    <li><input type='submit' name='id' value="Play against <%= game.user.name %>" ></li>
    <%end%>
  </ul>
</form>