<% if current_user %>
<h1>Welcome to Tic Tac Toe Town</h1>
<button><h3><a href="/games/new">Start New Game</a></h3></button>
<%= erb :_lobby %>
<% else %>
<h1>You are not logged in. You should log in!</h1> 
<% end %>